<h1>{{letter!.name}}</h1>
<a class="--primary go_back"  href="./tree/letters" title="Wróć">
  <span>Wróć</span>
</a>
<main>
  <ng-container *ngFor="let item of letter.list">
    <div class="gift">

      <div *ngIf="item.link">
        <a [href]="sanitizer.bypassSecurityTrustUrl(item.link)" target="_blank" rel="noopener">
          <span class="title">Nazwa prezentu: </span>
          <span class="value">
            {{item.name}}
          </span>
        </a>
      </div>
      <div *ngIf="!item.link">
        <span class="title">Nazwa prezentu: </span>
        <span class="value">
          {{item.name}}
        </span>
      </div>
      <div *ngIf="item.additionalInfo">
        <span class="title">Dodatkowe informacje: </span>
        <span class="value">
          {{item.additionalInfo}}
        </span>
      </div>
    </div>
  </ng-container>
</main>
