h1{
  position: relative;
  width: min-content;
  white-space: nowrap;
  background-color: #243d20;
  padding: 0 25px;
  // &:before, &:after{
  &:before{
    content: '';
    // width: 50px;
    // width: 100%;
    width: calc(100vw - 100px);
    // width: 100vw;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    background-image: url('/assets/images/scroll.png');
    background-image: url('/assets/images/pattern_darker.svg');
    background-image: url('/assets/images/pattern_light.svg');
    background-position: center;
    background-size: contain;
    // background-color: #477640;
    // background-repeat: no-repeat;
  }
}
body{
  align-items: stretch;
  background-image: none;
}

.child{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 50px);
  height: 300px;
  margin: 25px;
  background-image: url('/assets/images/scroll.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s;
  &:hover{
    scale: 1.1;
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    font-size: 24px;
    max-width: 30px;
  }
}
