app-new-write-letter {
  min-width: 60vw;
  max-width: 80vw;
  max-height: 90vh;
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  #papyrusCanvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    // box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -1;
  }

  .title{
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .sub-title{
    width: 70%;
    padding: 0 20px;
    text-align: center;
  }
  app-live-form{
    width: 100%;
    margin: 0 20px;
    display: grid;
    & *{
      color: black;
      background: transparent !important;
    }
    lib-date-field{
      display: none !important;
    }
    .sign{

    }
  }

  #letter-submit-button{
    background-color: transparent;
    border: none;
  }
}