body{
  // --background_image: url('/assets/images/o2807066.jpg');
  // --background_image: url('/assets/images/o2132261.jpg');
  // --background_image: url('/assets/images/bg_3.jpg');
  background-image:  url('/assets/images/o2807066.jpg');
  background-size: cover;
}
app-root{
  padding-bottom: 50px;
}
h1{
  position: relative;
  width: min-content;
  white-space: nowrap;
  &:before, &:after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url('/assets/images/scroll.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:before{
    left: -80px;
  }
  &:after{
    right: -80px;
  }
}
main{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 0;
  justify-content: space-between;
  flex-basis: 85vw;
  width: 1900px;
  box-sizing: border-box;
}
.gift_wrapper{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 0 0 calc(25% - 50px);
}
.gift{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  background-color: #355c2d;
  background-image: linear-gradient(to bottom right, #477640, #4b7d42, #243d20);
  background-image: linear-gradient(to bottom right, #4b7d42, #243d20, #477640);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  border-radius: 15px;
  margin: 25px;
  padding: 25px;
  margin-top: 75px;
  min-height: 350px;
  &.picked{
    &:before{
      content: '';
      // background: red;
      background-image: url('/assets/images/bow.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -60px;
    }
  }
  &>div, a{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
    // width: 100%;
  }
  .value{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
  }
  .title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 15px;
  }
}
