@if (letter) {
  <h1>{{letter!.person}}</h1>
}
<a class="--primary go_back"  routerLink="../.." title="Wróć">
  <span>Wróć</span>
</a>
@if (letter) {
  <main>
    @for (item of letter.presentsList; track item) {
      @if (item.name) {
        <div class="gift_wrapper">
          <div class="{{giftClass}}" [ngClass]="{picked: item.timesPicked}">
            @if (item.link) {
              <div>
                <a [href]="sanitizer.bypassSecurityTrustUrl(item.link)" target="_blank" rel="noopener">
                  <span class="title">Nazwa prezentu: </span>
                  <span class="value">
                    {{item.name}}
                  </span>
                </a>
              </div>
            }
            @if (!item.link) {
              <div>
                <span class="title">Nazwa prezentu: </span>
                <span class="value">
                  {{item.name}}
                </span>
              </div>
            }
            @if (item.additionalInfo) {
              <div>
                <span class="title">Dodatkowe informacje: </span>
                <span class="value">
                  {{item.additionalInfo}}
                </span>
              </div>
            }
          </div>
          @if (item.timesPicked) {
            <div class="times_picked">
              Ilośc elfów pomagających przy tym prezencie: {{item.timesPicked}}
            </div>
          }
          <div class="button_wrapper">
            <button class="--primary" (click)="addPresent(item)">Zapakuj ten prezent</button>
            @if (item.timesPicked) {
              <button class="--primary" (click)="removePresent(item)">Odpakuj ten prezent</button>
            }
          </div>
        </div>
      }
    }
  </main>
}
